<html lang="en">
<%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>
      <div class="container my-5">
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div id="house-carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <% house.houseImages.forEach((image, index)=> { %>
                  <li data-target="#house-carousel" data-slide-to="<%= index %>" <% if(index===0) { %>class="active"<% }
                      %>></li>
                  <% }); %>
              </ol>
              <div class="carousel-inner">
                <% house.houseImages.forEach((image, index)=> { %>
                  <div class="carousel-item <% if(index === 0) { %>active<% } %>">
                    <img src="../uploads/houses/<%= image %>" alt="House Image" class="d-block w-100">
                  </div>
                  <% }); %>
              </div>
              <a class="carousel-control-prev" href="#house-carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#house-carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            <div class="card p-3">
              <div class="card-body">
                <h3 class="mb-4">
                  Title: <%= house.title %>
                </h3>
                <p class="card-text">
                  Price: <%= house.housePrice %>
                </p>
                <p class="card-text">
                  House Type: <%= house.houseType %>
                </p>
                <p class="card-text">
                  Address: <%= house.houseAddress %>
                </p>
                <p class="card-text">
                  City: <%= house.houseCity %>
                </p>
                <p class="card-text">
                  Owners' Phone number: <%= house.phone %>
                </p>
                <p class="card-text">
                  House tags: <%= house.houseTag %>
                </p>
                <p class="card-text">
                  Description of the house: <%= house.houseDescription %>
                </p>
                <a class="btn btn-danger delete" data-doc="<%= house._id %>">
                  <i class="bi bi-trash"></i>Delete</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%- include("./partials/footer.ejs") %>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        <script>
          const trashcan = document.querySelector('a.delete');
          trashcan.addEventListener('click', (e) => {
            const endpoint = `/houses/${trashcan.dataset.doc}`;
            fetch(endpoint, {
              method: 'DELETE',
            })
              .then(response => response.json())
              .then(data => window.location.href = data.redirect)
              .catch(err => console.log(err));
          });
        </script>
  </body>
</html>